.page-icons{display:flex;flex-flow:row wrap}.page-icons .page-icons-item{display:flex;flex:0 0 20%;flex-flow:column nowrap;padding:10px}.page-icons .page-icons-item .page-icons-item-icon{font-size:48px}.page-icons .page-icons-item .page-icons-item-text{font-size:12px;margin-top:10px;text-align:center}

